<!doctype html>
<html>
    <head>
        <title>Form</title>
        <link rel = "icon" href = "icon.png" type = "image/x-icon"> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="style.css">
    </head>
<body>
    
    <div class="loginbox">
        
        <form action="connection.php" method="POST">
            <p>Username</p>
            <input id="username" name="username" type="text" class="form-control" placeholder="Username" required autofocus>
            <p>Password</p>
            <input id="password" name="password" type="password" class="form-control" placeholder="Password" required>
                <button type="submit" value="login" name="submit" class="btn btn-lg btn-dark btn-block text-uppercase">Login</button>
        </form>
    </div>
</body>
</html>